.home {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
}

.content {
  position: absolute;
  top: 30%;
  left: 15%;
}
.content h1 {
  font-size: 85px;
  font-weight: bold;
  color: aliceblue;
}
.content h3 {
  font-size: 58px;
  font-weight: bold;
  color: #0d6efd;
}
.content h2 {
  font-stretch: narrower;
  font-size: 50px;
  font-weight: bold;
  color: aliceblue;
}
.triangle {
  position: relative;
  margin-top: 111px;
  width: 100%;
  animation: rotation 8s infinite linear;
  transform-origin: 35% 25%;
  z-index: -1;
}
.triangle > div {
  width: 50%;
  height: 2px;
  background: #0d6efd;
}

.triangle > div:before {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(56deg);
  position: absolute;
  top: -97px;
  right: 208px;
}
.triangle > div:after {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(-56deg);
  position: absolute;
  top: -96px;
  left: -53px;
}
.triangle-1 {
  position: relative;
  margin-top: 111px;
  width: 100%;
  left: 95%;
  top: -45%;
}

.triangle-1 > div {
  width: 50%;
  height: 2px;
  background: #0d6efd;
}

.triangle-1 > div:before {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(56deg);
  position: absolute;
  top: -97px;
  right: 208px;
}
.triangle-1 > div:after {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(-56deg);
  position: absolute;
  top: -96px;
  left: -53px;
}
.triangle-2 {
  position: relative;
  margin-top: 111px;
  width: 100%;
  top: -64%;
  right: -117%;
}
.triangle-2 > div {
  width: 50%;
  height: 2px;
  background: #0d6efd;
}

.triangle-2 > div:before {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(56deg);
  position: absolute;
  top: -97px;
  right: 208px;
}
.triangle-2 > div:after {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(-56deg);
  position: absolute;
  top: -96px;
  left: -53px;
}
.triangle-3 {
  position: relative;
  margin-top: 111px;
  width: 100%;
  top: -64%;
  right: -127%;
}
.triangle-3 > div {
  width: 50%;
  height: 2px;
  background: #0d6efd;
}

.triangle-3 > div:before {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(56deg);
  position: absolute;
  top: -97px;
  right: 208px;
}
.triangle-3 > div:after {
  content: ' ';
  display: block;
  width: 45%;
  height: 2px;
  background: #0d6efd;
  transform: rotate(-56deg);
  position: absolute;
  top: -96px;
  left: -53px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
