.about {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.about-info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.about-info-text {
  font-size: 1.5rem;
}
.photo {
  width: 350px;
  height: 500px;
}
