.d-list {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.d-list-project {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 5rem;
}
.project- {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
